<div class="flex min-h-svh flex-col items-center justify-center bg-gray-100 p-6 md:p-10">
  <p-toast position="bottom-center" />
  <div class="w-full max-w-sm md:max-w-3xl">
    <div class="flex flex-col gap-6">
      <p-card class="overflow-hidden p-0">
        <div class="grid p-0 md:grid-cols-2">
          <form (submit)="onSubmit($event)" class="p-6 md:p-8">
            <div class="flex w-full flex-col gap-7">
              <!-- Header -->
              <div class="flex flex-col items-center gap-2 text-center">
                <h1 class="text-2xl font-bold">Create an Account</h1>
                <p class="text-muted-foreground text-balance">
                  Enter your details below to create a new account.
                </p>
              </div>

              <!-- Full Name Field -->
              <div class="flex w-full flex-col gap-3">
                <label for="fullName" class="flex w-fit gap-2 text-sm leading-snug font-medium"
                  >Full name</label
                >
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-id-card"></i>
                  </p-inputgroup-addon>
                  <input
                    type="text"
                    [formField]="registerForm.fullName"
                    [class.p-invalid]="
                      registerForm.fullName().touched() && registerForm.fullName().invalid()
                    "
                    pInputText
                    pSize="small"
                    fluid
                  />
                </p-inputgroup>
                @if (registerForm.fullName().touched() && registerForm.fullName().invalid()) {
                  <p-message severity="error" size="small" variant="simple">{{
                    registerForm.fullName().errors()[0].message
                  }}</p-message>
                }
              </div>

              <!-- Email Field -->
              <div class="flex w-full flex-col gap-3">
                <label for="email" class="flex w-fit gap-2 text-sm leading-snug font-medium"
                  >Email</label
                >
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-at"></i>
                  </p-inputgroup-addon>
                  <input
                    type="email"
                    [formField]="registerForm.email"
                    [class.p-invalid]="
                      registerForm.email().touched() && registerForm.email().invalid()
                    "
                    pInputText
                    pSize="small"
                    fluid
                  />
                </p-inputgroup>
                @if (registerForm.email().touched() && registerForm.email().invalid()) {
                  <p-message severity="error" size="small" variant="simple">{{
                    registerForm.email().errors()[0].message
                  }}</p-message>
                }
                <small
                  >We'll use this to contact you. We will not share your email with anyone
                  else.</small
                >
              </div>
              <div class="grid grid-cols-2 gap-4">
                <!-- Password Field -->
                <div class="flex w-full flex-col gap-3">
                  <label for="password" class="flex w-fit gap-2 text-sm leading-snug font-medium"
                    >Password</label
                  >
                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-key"></i>
                    </p-inputgroup-addon>
                    <input
                      type="password"
                      [formField]="registerForm.password"
                      [class.p-invalid]="
                        registerForm.password().touched() && registerForm.password().invalid()
                      "
                      pInputText
                      pSize="small"
                      fluid
                    />
                  </p-inputgroup>
                  @if (registerForm.password().touched() && registerForm.password().invalid()) {
                    <p-message severity="error" size="small" variant="simple">{{
                      registerForm.password().errors()[0].message
                    }}</p-message>
                  }
                  <small>Password must be at least 8 characters long.</small>
                </div>

                <!-- Confirm Password Field -->
                <div class="flex w-full flex-col gap-3">
                  <label
                    for="confirmPassword"
                    class="flex w-fit gap-2 text-sm leading-snug font-medium"
                    >Confirm Password</label
                  >
                  <p-inputgroup>
                    <p-inputgroup-addon>
                      <i class="pi pi-key"></i>
                    </p-inputgroup-addon>
                    <input
                      type="password"
                      [formField]="registerForm.confirmPassword"
                      [class.p-invalid]="
                        registerForm.confirmPassword().touched() &&
                        registerForm.confirmPassword().invalid()
                      "
                      pInputText
                      pSize="small"
                      fluid
                    />
                  </p-inputgroup>
                  @if (
                    registerForm.confirmPassword().touched() &&
                    registerForm.confirmPassword().invalid()
                  ) {
                    <p-message severity="error" size="small" variant="simple">{{
                      registerForm.confirmPassword().errors()[0].message
                    }}</p-message>
                  }
                </div>
              </div>
              <!-- Submit Button -->
              <p-button label="Create Account" type="submit" [loading]="loading()" fluid />
              <p-divider align="center" type="solid">Or</p-divider>

              <!-- Social Sign up Buttons -->
              <p-button label="Sign up with Google" icon="pi pi-google" variant="outlined" fluid />

              <!-- Login Link -->
              <p class="text-center text-sm text-muted-foreground">
                Already have an account? <a routerLink="/login" class="underline">Log in</a>
              </p>
            </div>
          </form>
          <div class="relative hidden md:flex md:items-center md:justify-center">
            <img src="gka.svg" alt="placeholder" class="dark:brightness-[0.2] dark:grayscale" />
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
